$primary-color: white;
$bg: black;
h1 {
  color: $primary-color;
  background-color: $bg;
}

body {
  background-color: #ffffff;
  overflow: hidden;
  user-select: none;
  margin: 0;
}

html,
body,
#museum-wrapper {
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}

.viewer-container {
  width: calc(100vw - 280px);
  height: calc(100vh - 40px);
  position: relative;
}
.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.shape-buttons {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.shape-btn {
  width: 30px;
  height: 30px;
  background-color: white;
  margin: 5px;
  cursor: pointer;
  user-select: none;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 24px;
    height: 24px;
    object-fit: fill;
    user-select: none;
    cursor: pointer;
  }
}

.sidebar {
  width: 240px;
  height: calc(100vh - 40px);
}
.branches {
  padding: 2px 3px 2px 15px;
  user-select: none;
  margin-left: 10px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 1px;
    left: 0px;
    top: 50%;
    background-color: green;
  }
  &::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0px;
    top: -50%;
    background-color: green;
  }
}

.select-shape {
  position: absolute;
  right: 20px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 15px;
  img {
    width: 100%;
  }
}
.unselect-shape {
  position: absolute;
  right: 50px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 15px;
  img {
    width: 100%;
  }
}
.info {
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  .type {
    margin-right: 5px;
  }
}
